@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
.btn-container{
    text-align: center;

}
.btn{
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    border: none;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    
}

#hero{
    height: 459px;
    background-image:linear-gradient(
    0deg, 
    rgb(16, 16, 16) -19.5%,
    rgba(16, 16, 16, 0) 100%), 
    
    url(../assets/hero-bg.png);
    
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#hero .hero-content{
    width: 511px;

}
#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin: 9px;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:10px ;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;

}

/* card section */
#card-box{
    width: 850px;
    margin: 100px auto;
}

#card-box .title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}
.card-container{
    margin-top: 30px;
    display: flex;      
    justify-content: space-between;

}
.card{
    
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card .img-box{
    width: 240px;
}
.card .img-box img{
    width: 100%;
}
.card .shop {
    border-radius: 5px;
    background: rgba(82, 195, 3, 0.15);
    padding: 5px 15px 5px 15px;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}
.font-h1{
    font-family: Work Sans;

}
.font-p{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}